@font-face {
  font-family: kalamBold;
  src: url(fonts/Kalam/Kalam-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: kalamBold, "Courier New", Courier, monospace;
  text-decoration: none;
}

a:visited{
  color: inherit;
}
html {
  font-size: 1vw;
  background-color: whitesmoke;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98vw;
}
main {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* aspect-ratio: 9/11; */
}

.tobBar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: flex-end;
  /* background-color: pink; */
  margin: 4px;
  gap: 4px;
  color: white;
}

.tobBar p {
  margin: 0;
}

.tobBar .title {
  font-size: 1.25rem;
}
.tobBar .content {
  font-size: 1.4rem;
}

.nextBlockContainer {
  width: 50%;
  background-color: #262b39;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextBlock {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 0.75rem;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.nextBlock div {
  aspect-ratio: 1/1;
  border-radius: 3px;
}
.currentLevel,
.currentScore {
  width: 25%;
  height: 70%;
  border-radius: 0.5rem;
  background-color: #262b39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainBoard {
  display: grid;
  width: 60%;
  aspect-ratio: 2/1;
  padding: 0.5rem;
  /* border: 2px solid rgb(240, 189, 189); */
  border-radius: 1rem;
  border: none;
  /* gap: 0.1rem; */
  /* outline: 2px solid black ;
  outline-offset: 0.2rem; */
  background-color: #262b39;
}
.mainBoard .boardCell {
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
  background-color: #262b39;
  border: 0.12rem solid #262b39;
}
/* 
[data-index="1"]{
  background-color: saddlebrown;
} */
/* 
.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: ;
  width: 20%;
}

.buttonsContainer button {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  margin:  0.5rem 0;
  border-radius: 0.5rem;
  border: #262b39 solid 5px;
  padding:  0.5rem 1rem;
  background-color: transparent;
  transition: 0.25s;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsContainer active:hover{
  background-color: #262b39;
  color: white;
  cursor: pointer;
} */

.mainMenuBody {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mainMenuBody button {
  width: 20%;
  height: 4rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: #262b39 solid 5px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.25s;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mainMenuBody button:hover {
  background-color: #262b39 ;
  color: white ;
  cursor: pointer;
}

.rulesPanel,.gameOverPanel {
  width: 40%;
  height: 50%;
  background-color: rgb(235, 235, 235);
  position: fixed;
  border-radius: 2.5rem;
  border: #262b39 5px solid;
  outline: #262b39 5px solid;
  outline-offset: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

.gameOverPanel{
    display: none;
}

.rulesPanel h1,
.gameOverPanel h1 {
  width: 100%;
  text-align: center;
}


.gameOverPanel {
  height:25%;
  pointer-events: all;
}
.gameOverPanel button {
  height: 3rem;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: #262b39 solid 4px;
  transition: all 0.25s;
  display: none;
  
}
#homeButton{
  position:fixed;
  width: 3rem;
  aspect-ratio: 1/1;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  border-radius: 10px ;
  border: #262b39 solid 3px;
  transition: all 0.25s;
}

#homeButton:hover {
  background-color:#262b39 ;

  cursor: pointer;
}
#homeButton:hover img {
  filter: invert(100%);
}

#homeButton img{
  width: 100%;
  aspect-ratio: 1/1;
}

.gameOverPanel button:hover{
  color: white;
  background-color:#262b39 ;
}

